/aero_atc.slxc
/Book2.xlsx
/Caracteristicabruta.m
/createFit.m
/Date Excel
/Dezvoltarea unui model MatLab pentru calculul procesului de ardere al MAI.xlsx
/Dezvoltarea unui program de analiza a procesului de ardere.xlsx
/DezvoltareaunuimodelMatlabpentrucalcululprocesuluidearderealMAI
/DoubleWiebe.m
/erikson.m
/fitErikson.sfit
/fitting.sfit
/Functia wiebe.png
/MAS 2000.txt
/MFB.xlsx
/pic00.jpg
/Presiunea_mas_corectata.txt
/sldemo_absbrake.slxc
/sldemo_autotrans.slxc
/sldemo_wheelspeed_absbrake.slxc
/slprj
/untitled.fig
/Volume.m
/Wiebefit.m